# Dependencies
node_modules
.pnpm-store

# Build Output
out
dist
build

# VS Code Extension
.vscode-test
*.vsix

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System Files
.DS_Store
Thumbs.db

# Agent
.agent/skills
